.plomo{
	border: 1px solid black;
	background-color: #A4A4A4;
	height: 100px;
	width: 100px;
	margin-top: 5px;

}
.grande{
	border: 1px solid black;
	background-color: #A4A4A4;
	height: 120px;
	width: 350px;
	margin-top: 5px;
}

#junto{
	margin-right: 8px;
	display: inline-block;
}
#interno{
	border: 1px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin-top: 8px;
	margin-left: 8px;
}